


.khan_container{
  width: 80%;
  margin: auto;
  }
.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title{
  line-height: 1,15;
  font-size: 60px;
  font-weight: 900;
}
.khan__quote{
width: 790px;
margin-top: 50px;
line-height: 34px;
      font-size: 24px;
      font-weight: normal;
}
.khan__quote-author{
  line-height: 1,15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
margin-bottom: 10px;
}
.khan__quote-author-subline{
  line-height: 1,15;
  font-size: 24px;
  font-weight: normal;
  margin-bottom:68px;
}
.khan__book-container{
  display: flex;
   }
.book-pic{
  width: 620px;
  height: 608px;
  object-fit: scale-down;
}
.buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
}

 .digits{
  padding-top: 100px;
  padding-bottom: 100px;
      }
.table{
width: 1100px;
display:flex;
flex-wrap: wrap;
justify-content:space-between;
margin: auto;
}
.table_cell{
margin-top: 60px;
width: 250px;
}
.table_cell_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight:bold;
}
.table_cell_text{
padding-top: 20px;
padding-bottom: 20px;
line-height: 1.2;
  font-size: 18px;
  font-weight:normal;
}
  .kaufman{
  padding-top: 90px;
  padding-bottom: 90px;
  overflow:hidden;
  background-color: black;
  position: relative;
  z-index: 3;
    }
    .kaufman__triangle-rotation{
      background-image: url("../images/triangle.svg");
      color: blue;
      z-index: 1;
      position: absolute;
      right: -210px;
      width: 995px; 
      height: 1006px;
      z-index: 1;
      animation: rotation 20s infinite linear;
    }
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .section-title_kauf{
      color: white;
    }
    .section-subtitle_kauf{
      color: white;
    }
    .table_cell__kaufman{
      width: 200px;
      z-index: 2;
    }
    .table_cell_heading_kauf{
      line-height: 1.15;
      font-size: 24px;
      font-weight:bold;
      color: white;
    }
    .table_cell_text_kauf{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.2;
      font-size: 18px;
      font-weight:normal;
      color: white;
    }
  
         .table_cell__kaufman{
    width: 200px;
  }
 
  .resourses{
    padding-top: 100px;
  padding-bottom: 217px;
       }
.logo-zone{
width: 1100px;
margin:auto;
margin-top: 80px;
margin-bottom: 217px;
}
.logo-zone__logo{
  width:270px;
  height:38px;
}
/*
.footer{
  padding-top: 60px;
  padding-bottom: 40px;
   }
.footer__columns{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 90%;
 }
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo__place_footer{
  height: 32px;
  width: 185px;
  }
  .footer__author{
  padding-top: 18px;
  padding-bottom: 18px;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight:normal;
  }
.footer__column_content_info{
  display: flex;
  flex-direction: column;
  }
.footer__column_heading{
  line-height: 18px;
  font-size: 18px;
  font-weight:bold;
}

.column__links{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
  line-height: 18px;
  font-size: 18px;
  font-weight:normal;
  }
  .footer__column-link{
    margin-bottom: 10px;
    display: flex;
  }
  .footer__column-link:nth-child(3){
    margin-bottom: 0px;
  }

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
 }
.social-icon{
  padding-bottom: 10px;
  width: 16px;
  height: 16px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
*/